<!--Footer-->
<footer class="page-footer text-center font-small brown darken-2 mt-4 wow fadeIn">
    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/EnoughisEnoughVA/" target="_blank">
        <i class="fab fa-facebook-f mr-3" style="font-size: 2.5em;"></i>
      </a>
      
      <a href="https://twitter.com/EnoughVA" target="_blank">
        <i class="fab fa-twitter mr-3" style="font-size: 2.5em;  margin-left: 40px"></i>
      </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2019 Copyright: enoughisenough.com
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->