<div style="height: 100vh">
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="''"> Home </a>
        <a mat-button [routerLink]="'/news'"> Community News </a>
        <a mat-button [routerLink]="'/services'"> Services </a>
        <a mat-button [routerLink]="'/contact'"> Contact Us </a>
      </div>
      <span class="fill-space"></span>
      <a mat-button (click)="openDialog()"> Login </a>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
    